header {
  background-color: var(--main-background-color);
  text-align: center;
  border: var(--border-2px-dark);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHeading {
  color: var(--main-text-color);
  outline: purple;
  padding: 2rem 0;
  margin: 0 30rem;
  text-decoration: underline;
}

button {
  min-height: 5rem;
  background-color: var(--main-background-color-light);
  border: 2px solid var(--main-text-color);
}

@media (max-width: 510px) {
  .mainHeading {
    font-size: 4rem;
  }
}

@media (max-width: 405px) {
  .mainHeading {
    font-size: 3rem;
  }
}
