.sectionTwo {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  border-right: 2px solid var(--main-text-color);
  background-color: var(--main-background-color);
}

.imageContainer,
.personalContainer,
.skillsContainer,
.refContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
}

.imagePersonal {
  display: block;
  margin: 0.5rem auto;
  border-radius: 100%;
  border: 2px solid var(--main-text-color);
}

ul {
  list-style: none;
  flex-basis: 100%;
}

li {
  width: 100%;
}

.heading {
  margin: 1rem 0;
  text-decoration: underline;
}

.subHeading {
  margin: 2rem 0;
}

.subContent {
  font-size: 2rem;
}

@media (max-width: 835px) {
  .subContent {
    font-size: 1.3rem;
  }

  .subHeading {
    font-size: 1.1rem;
  }
}

@media (max-width: 745px) {
  .employmentDate,
  .employmentEmployer,
  .employmentTitle {
    font-size: 1.1rem;
  }

  .employmentDescription {
    font-size: 0.9rem;
  }

  .sectionTwo {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  .subHeading {
    margin: 0.5rem 0;
  }
  .sectionTwo {
    padding: 0;
  }

  .imageContainer,
  .personalContainer,
  .skillsContainer,
  .refContainer {
    padding: 0.5rem;
  }
}
