.cvInputs,
.personal {
  background-color: var(--main-background-color);
  border: var(--border-2px-dark);
  padding: 2rem;
  height: max-content;
  /* width: 60%; */
}

/* TODO: Change main layout to grid */

.cvInputs {
  width: 30%;
}

.personal {
  width: 70%;
}

.cvInputs__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cvInputs__subContent {
  list-style: none;
  flex-basis: 40%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cvInputs__inputHeading {
  margin-right: 1rem;
}

.cvInputs__heading {
  text-align: center;

  text-decoration: underline;
}
