.btnAdd,
.btnEdit {
  padding: 1rem;
  width: 8rem;
}

.active {
  background-color: var(--main-text-color);
  border: 2px solid var(--main-text-color);
  color: #dfc95b;
}

.active {
  transform: translateY(2px);
  box-shadow: none;
}

.btnAdd:focus,
.btnEdit:focus {
  outline-color: #71dedc;
}

.btnEdit {
  margin-right: 5px;
}
