.main {
  min-height: 90vh;
  background-color: var(--main-background-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.previewCV {
  margin: 2rem 0;
  width: 90%;
  border: 2px solid var(--main-text-color);
  min-height: max-content;
  display: grid;
  grid-template-columns: 0.5fr 3fr 5fr;
}
.sectionOne {
  background-color: var(--main-text-color);
}

.test2 {
  background-color: var(--main-background-color);
  border-right: 2px solid var(--main-text-color);
}

.test3 {
  background-color: var(--main-background-color-light);
  box-shadow: 2px 2px 2px inset #522116;
}

@media (min-width: 1480px) {
  .previewCV {
    width: 170rem;
  }
}
@media (max-width: 1070px) {
  .previewCV {
    grid-template-columns: 0.3fr 3fr 5fr;
  }
}

@media (max-width: 1035px) {
  p {
    font-size: 1.3rem;
  }
}

@media (max-width: 835px) {
  h4 {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .previewCV {
    grid-template-columns: 0.1fr 3fr 5fr;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 0.9rem;
  }
}
