.sectionThree {
  display: grid;
  grid-template-rows: 1fr 2fr repeat(2, 3fr);
  background-color: var(--main-background-color-light);
  box-shadow: 2px 2px 2px inset #522116;
  padding: 3rem;
}

.educationHeading,
.employmentHeading {
  margin-bottom: 2rem;
  text-decoration: underline;
}

.subEmploymentContainer {
  display: grid;
  grid-template-columns: max-content repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--main-text-color);
}

.employmentDate {
  grid-row-start: 1;
  grid-column-start: 1;
  margin-right: 1rem;
}

.employmentTitle {
  grid-row-start: 1;
  grid-column-start: 2;
}

.employmentEmployer {
  grid-row-start: 1;
  grid-column-start: 3;
  justify-self: end;
}

.employmentTitle {
  grid-row-start: 1;
  grid-column-start: 2;
}

.employmentDescription {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.subEducationContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--main-text-color);
}

.statementContainer {
  font-size: 1.5rem;
}
